<template>
  <div class="first">
    <h1>First component</h1>
  </div>
</template>

<script>
export default {
  name: "component1"
};
</script>

<style scoped>
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: blueviolet;
  margin-top: 60px;
  font-size: 70px;
  background: lightsalmon;
}
</style>
