<template>
  <div class="second">
    <h1>Second component</h1>
  </div>
</template>

<script>
export default {
  name: "component2"
};
</script>

<style scoped>
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: green;
  margin-top: 60px;
  font-size: 70px;
  background: lightgrey;
}
</style>
