<template>
  <div id="app">
    <header>
      <router-link to="/first">FIRST COMPONENT</router-link>
      <br />
      <router-link to="/second">SECOND COMPONENT</router-link>
    </header>
    <router-view></router-view>
    <footer>Lo mismo en ambos</footer>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: orangered;
  margin-top: 60px;
}
</style>
